@charset "UTF-8";
h2
{
	text-align:center !important;
	color:white !important;
	
	
}
h3
{
	text-align:center !important;
	color:white !important;
	
	
}

body{
	color: white !important;
	margin: 0;
	padding: 0;
	
}
section
{
	position:absolute;
	width:100%;
	height: 100vh;
	background:linear-gradient(to left,#40676B,#33A6B1) !important;
	overflow:hidden;
	
}
.bigPulse
{
	width:100%;
	height:100%;
	
}
.bigPulse span
{
	position:absolute !important; 
	width:80px !important;
	height:80px !important;
	background:#fff !important;
	opacity: 0.2 !important;
	-webkit-animation: animate 10s linear infinite;
}

.bigPulse span:nth-child(1)
{
	top:0%;
	left:0%;
	
}
.bigPulse span:nth-child(2)
{
	top:30%;
	left:50%;
	
}
.bigPulse span:nth-child(3)
{
	top:40%;
	left:90%;
	
}
.bigPulse span:nth-child(4)
{
	top:50%;
	left:30%;
	
}
.bigPulse span:nth-child(5)
{
	top:80%;
	left:40%;
	
}
.bigPulse span:nth-child(6)
{
	top:60%;
	left:70%;
	
}
.bigPulse span:nth-child(7)
{
	top:80%;
	left:30%;
	
}
.bigPulse span:nth-child(8)
{
	top:90%;
	left:10%;
	
}
.bigPulse span:nth-child(9)
{
	top:10%;
	left:90%;
	
}
.bigPulse span:nth-child(10)
{
	top:100%;
	left:100%;
	
}










.form-group
{
	color: white !important;
	background-color:#33A6B1 !important;
	border-color:white !important;
}


#add
{
	background-color: #4CAF50;
	color:white;
}
#editbtn
{
	background-color: #4CAF50;
	color:white;
}

#delete
{
	background-color: #4CAF50;
	color:white
}
#closebtn
{
	background-color: red;
	color:white;
}
#closebtn:hover
{
	background-color: black;
	color:white;
}
#save
{
	background-color: #4CAF50;
	color:white;
}

#save:hover
{
	background-color: black;
	color:white;
}

#edit
{
	background-color: #4CAF50;
	color:white;
}

#edit:hover
{
	background-color: black;
	color:white;
}
 
#delete
{
	background-color: #F70D1A;
	color:white;
}
#delete:hover
{
	background-color: black;
	color:white;
}

.close
{
	background-color: black;
	color:white;
}

#add:hover
{
	background-color: black;
}
#editbtn
{
	background-color: #4CAF50;
	color:white;
}

#editbtn:hover
{
	background-color: black;
	color:white;
}
.close:hover
{
	background-color: black;
	color:white;
}




@-webkit-keyframes animate
{
0%
	{
		transform: scale(0) translateY(0) rotate(0 deg);  
		
	}
100%
	{
		transform: scale(1) translateY(-100px) rotate(360 deg); 
		
	}
}