@charset "UTF-8";
h2
{
	text-align:center !important;
	color:white !important;
	
	
}
h3
{
	text-align:center !important;
	color:white !important;
	
	
}

body{
	color: white !important;
	background:linear-gradient(to left,#40676B,#33A6B1) !important;
	width:100% !important;
	height:100vh !important;
	
}
.form-group
{
	color: white !important;
	background-color:#33A6B1 !important;
	border-color:white !important;
}


#add
{
	background-color: #4CAF50;
	color:white;
}
#editbtn
{
	background-color: #4CAF50;
	color:white;
}

#delete
{
	background-color: #4CAF50;
	color:white
}
#closebtn
{
	background-color: red;
	color:white;
}
#closebtn:hover
{
	background-color: black;
	color:white;
}
#save
{
	background-color: #4CAF50;
	color:white;
}

#save:hover
{
	background-color: black;
	color:white;
}

#edit
{
	background-color: #4CAF50;
	color:white;
}

#edit:hover
{
	background-color: black;
	color:white;
}
 
#delete
{
	background-color: #F70D1A;
	color:white;
}
#delete:hover
{
	background-color: black;
	color:white;
}

.close
{
	background-color: black;
	color:white;
}

#add:hover
{
	background-color: black;
}
#editbtn
{
	background-color: #4CAF50;
	color:white;
}

#editbtn:hover
{
	background-color: black;
	color:white;
}
.close:hover
{
	background-color: black;
	color:white;
}

